/*! Spectre.css Docs | MIT License | github.com/picturepan2/spectre */
.docs-brand {
  color: #4fc08d;
  height: 2rem;
  left: 1.5rem;
  position: fixed;
  top: .85rem
}

.docs-brand .docs-logo {
  align-items: center;
  border-radius: .1rem;
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  font-size: .7rem;
  height: 2rem;
  padding: .2rem;
  width: auto
}

.docs-brand .docs-logo:focus, .docs-brand .docs-logo:hover {
  text-decoration: none
}

.docs-brand .docs-logo img {
  display: inline-block;
  height: auto;
  width: 1.6rem
}

.docs-brand .docs-logo h2 {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-left: .5rem;
  margin-right: .5rem
}

.section-hero {
  padding: 1rem .5rem
}

.section-hero .docs-brand {
  position: absolute;
  top: .85rem
}

.section-hero .docs-brand h2 {
  color: #4fc08d
}

.section-hero .column {
  padding: .4rem
}

.section-ads {
  padding: 1rem .5rem
}

.section-updates {
  padding: 4.5rem .5rem 2.5rem .5rem
}

.section-updates .card {
  border: 0;
  margin-bottom: 1rem
}

.section-features {
  padding: 4.5rem .5rem
}

.section-features .column {
  padding: .4rem
}

.section-footer {
  color: #bcc3ce;
  padding: 1.8rem .75rem 1rem;
  position: relative;
  z-index: 200
}

.section-footer a {
  color: #66758c
}

.grid-hero {
  padding-bottom: 2rem;
  padding-top: 6rem
}

.grid-hero h1 {
  color: #3b4351;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem
}

.grid-hero h2 {
  color: #455060;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem
}

.grid-hero h2 u {
  border-bottom: .1rem solid currentColor;
  padding-bottom: .05rem;
  text-decoration: none
}

.grid-hero .card {
  background: 0 0;
  border: 0;
  color: #5b687d;
  padding: .5rem
}

.grid-hero .card .card-title {
  color: #4fc08d;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0
}

@media (max-width: 960px) {
  .off-canvas .off-canvas-toggle {
    z-index: 300
  }

  .off-canvas .off-canvas-content {
    width: 100%
  }

  .docs-sidebar .docs-brand {
    margin: .85rem 1.5rem;
    padding: 0;
    position: static
  }

  .section-hero .s-brand {
    height: 5rem;
    padding: 1.5rem .5rem;
    text-align: center;
    width: 100%
  }

  .section-hero .s-brand .s-logo {
    height: auto
  }

  .section-hero .s-brand img {
    height: 3.2rem;
    width: 3.2rem
  }

  .section-hero .s-brand h2 {
    display: none
  }
}

@media (max-width: 600px) {
  .grid-hero h2 {
    font-size: .9rem
  }

  .grid-hero .card {
    padding: 0
  }

  .docs-navbar .btns {
    right: .9rem
  }

  .grid-hero .docs-brand {
    left: .9rem
  }
}
